dataset/dataset_vali/*.png
gaussian_baseline/*.png
leakage_normal/*.png
only_gaussian/*.png
only_large/*.png
only_multi/*.png
only_single/*.png
single_baseline/*.png
single_gaussian_baseline/*.png
single_multi_gaussian_baseline/*.png
